@{
    ViewBag.Title = "Фан-арт";
}

@Html.Partial("Partials/_FanartHeader")


<main class="fanart-main py-5">
    <div class="container">
        @Html.Partial("Partials/_FanartFilters")
        @Html.Partial("Partials/_FanartGallery")
        @Html.Partial("Partials/_Pagination")
    </div>
</main>

@section scripts {
    @Html.Partial("Partials/_FanartScripts")
} 
